.container
{
    max-width: 300px;
    min-height: 340px;
    padding: 0;
}
.table
{
    width: 100%;
}
.pure-checkbox input[type=checkbox]+label:before {
    box-sizing: content-box;
    content: '';
    position: absolute;
    top: 33%;
    left: 0;
    width: 12px;
    height: 12px;
    text-align: center;
    transition: .4s;
    border: 1px solid grey !important;
    border-radius: 0;
}
.btn-div
{
    position: relative;
    top: 245px;
    float: right;
    right: 12px;
    display: flex;
}
.btn-sub
{
    color: green;
}
.mr-30
{
    margin-right: 30px;
}
.btn-div input[type=button],
.btn-div input[type=reset]
{
    background-color: transparent;
    border: none;
    font-weight: bold;
}
.border-class
{
    border: 1px solid #999;
}
.cursor
{
    cursor: pointer;
}